<header id="gh-header" class="gh-header{{#match @custom.navigation_layout "Logo in the middle"}} gh-header--center{{/match}}">
    <div class="gh-header-inner">
        <div class="gh-header-brand">
            <a class="gh-header-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" decoding="async">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </div>

        <nav class="gh-nav" id="gh-nav" data-astryx-mobile-nav="end" aria-label="{{t "Main navigation"}}">
            {{navigation}}
            {{#if @site.members_enabled}}
                <div class="gh-nav-mobile-actions">
                    {{#unless @member}}
                        <a class="gh-button" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                    {{else}}
                        <a class="gh-button gh-button--ghost" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                    {{/unless}}
                </div>
            {{/if}}
        </nav>

        <div class="gh-header-actions">
            {{#if @site.members_enabled}}
                {{#unless @member}}
                    <a class="gh-button gh-header-cta" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                {{else}}
                    <a class="gh-button gh-button--ghost gh-header-cta" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                {{/unless}}
            {{/if}}

            <button class="gh-icon-button" type="button" data-ghost-search aria-label="{{t "Search"}}" data-tooltip>
                {{> "icons/search"}}
            </button>

            <button class="gh-icon-button" type="button" id="gh-scheme-toggle" aria-label="{{t "Change color scheme"}}" data-label-light="{{t "Switch to dark mode"}}" data-label-dark="{{t "Switch to system mode"}}" data-label-system="{{t "Switch to light mode"}}" data-tooltip>
                {{> "icons/sun"}}
                {{> "icons/moon"}}
            </button>

            <button class="gh-icon-button gh-burger" type="button" id="gh-burger" aria-label="{{t "Open menu"}}" data-label-close="{{t "Close menu"}}" aria-expanded="false" aria-controls="gh-nav" data-tooltip>
                {{> "icons/menu"}}
            </button>
        </div>
    </div>
</header>
